<div class="group">
  <h1>Addepar's Stats</h1>
  <div class="panel">
    <h4>Users: {{numberUsers}} </h4>
    <h4>Active Today: {{activeToday}}</h4>
    <h4 class="data">
      Happy: {{numberHappy}}
    </h4>
    <h4 class="data">
      Sad: {{numberSad}}
    </h4>
    <h4 class="data">
      Stressed: {{numberStressed}}
    </h4>
    <h4 class="data">
      Chill: {{numberChill}}
    </h4>
  </div>
  <div class="panel">
    <h2>What's Happenin'?</h2>
    {{#each explanation in explanations}}
      <div class="explanation">
        "{{explanation}}"
      </div>
    {{/each}} 
  </div>
</div>
