<div class="group">
  <h2>Users: {{numberUsers}} </h2>
  <h2>Active Today: {{activeToday}}</h2>

  <div class="data">
    Happy: {{numberHappy}}
  </div>
  <div class="data">
    Sad: {{numberSad}}
  </div>
  <div class="data">
    Stressed: {{numberStressed}}
  </div>
  <div class="data">
    Chill: {{numberChill}}
  </div>
</div>
